<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          crossorigin="anonymous">
     <script src="https://kit.fontawesome.com/11733cabc0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/sweetalert/sweetalert.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}?t={{g.random}}">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <title>Annotation</title>
    <style>
    </style>
</head>
