<!doctype html>
<html lang="en">
{% include 'base/head.html' %}
<body>
{% include 'base/navbar.html' %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">video title</th>
            <th scope="col">annotation</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
        <tr>
            <td>
                {{doc.title}}
            </td>
            <td>
                <span class="badge badge-light"><a href="/annotate/{{doc.id}}/tension">tension</a></span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'base/script.html' %}
</body>
</html>
